* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(149, 193, 141);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(24, 34, 34);
  color: #fff;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu {
  display: flex;
  gap: 1em;
}

.menu li {
  padding: 5px 14px;
}

.navItemContainer {
  float: left;
  border-right: 1px solid #bbb;
}



.navItemContainer a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navItemContainer a:hover {
  background-color: #111;
}

.postsContainer {
  background-color: rgb(64, 64, 182);
}

button {
  background-color: #7a24dc;
}

.footer {
  background-color: rgb(61, 42, 174);
}

.img {
  width: 100%;
  height: 15rem;
}
