* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(149, 193, 141);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(24, 34, 34);
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu {
  display: flex;
  gap: 1em;
}

.menu li {
  padding: 5px 14px;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

a {
  display: block;
  padding: 8px;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* nav.navContainer {
  background-color: rgb(227, 166, 223);
  min-height: 30vh;
  width: calc(15%);
  min-width: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav.navContainer .navItemContainer {
  padding: 20px;
} */

.postsContainer {
  background-color: rgb(128, 128, 219);
}

button {
  background-color: #92d49d;
}

.footer {
  background-color: aqua;
}
